@media only screen and (max-width: 968px) {
    .animations {
        position: static;
    }

    .container {
        display: block;
        top: -400px;
    }

    #bg {
        top: 400px;
    }

    .grid {
        margin: 0 auto;
    }
}

@media only screen and (max-width: 480px) {
    .bg-1 {
        display: none !important;
    }

    .bg-2 {
        display: block !important;
    }

    html {
        font-size: 55%;
    }

    .container {
        top: 0px;
        height: 880px;
    }

    #bg {
        top: 30px;
        height: 850px;
    }

    #bg img {
        height: 900px !important;
        top: 0px !important;
    }

    .grid {
        width: 400px;
    }

    .square {
        width: 120px;
        height: 110px;
    }
}

@media only screen and (max-width: 400px) {
    .grid {
        width: 340px;
        margin: 90px auto 0 auto;
    }

    .square {
        width: 95px;
        height: 95px;
        margin: 5px;
    }

    .container h2 {
        margin: 16px 0;
    }

    #difficulty {
        margin-top: 20px;
    }

    .status-2 {
        margin: 0px;
    }

    #about-card {
        padding: 2rem 2rem;
        width: 90%;
        top: 25%;
        left: 5%;
    }
}